.breadcrumb {
    padding-top: 15px;
    .horizontal-scroll-menu {
      min-height: 25px;
      a:after{
        display: none;
      }
    }
    .related-title {
      font-size: 13px;

    }
    ul {
        padding: 0;
        margin-bottom: 0;
        color: #b3b3b3;
        li {
          display: inline-block;

          &.related-title {
              border-width: 3px;
              line-height: 14px;
              color: #e60019;
              padding-right: 10px;
              margin-bottom: 0;
          }
            a{
                font-size: 13px;
                color: #1D1C1C;
                padding: 0;
                &:hover {
                    color: $colorRed;
                }
            }

        }
    }
}

.horizontal-scroll-menu {
    overflow: auto;
    white-space: nowrap;
    min-height: 23px;
}
