.app-study-section {
    margin-top: 200px;
    margin-bottom: 95px;
    text-align: center;
    .title {
        margin-bottom: 15px;
    }
    .animation-block{
        position: relative;
        .red-down-right {
            background: url(../images/red-down-right.png) no-repeat;
            width: 88px;
            height: 86px;
            float: right;
            margin-right: -30px;
            margin-top: -8px;
        }
        .red-down-left {
            background: url(../images/red-down-left.png) no-repeat;
            width: 88px;
            height: 86px;
            position: relative;
            left: -13px;
        }
        .red-top-right {
            background: url(../images/red-top-right.png) no-repeat;
            width: 88px;
            height: 89px;
            float: right;
            margin-right: -7px;
            margin-top: -8px;
        }
        .red-top-left {
            background: url(../images/red-top-left.png) no-repeat;
            width: 88px;
            height: 86px;
            position: relative;
            right: -22px;
            top: -20px;
        }

        .app-image {
            position: relative;
            width: 361px;
            margin: 0 auto;
            .animate-img {
                width: 248px;
                position: relative;
                margin: 0 auto 25px;
                height: 490px;
                @include Transition(0.4s);
                img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;

                }
            }
            &:hover {
                .circle01 {
                    left: 0;
                }
                .circle02 {
                    right: 14px;
                }
                .circle03 {
                    left: 18px;
                }
                .circle04 {
                    right: 0;
                }
            }
            .circle01 {
                background: #1870E8;
                opacity: 0.5;
                width: 150px;
                height: 150px;
                position: absolute;
                top: 110px;
                left: 8px;
                @include BorderRadius(50%);
                @include Transition(0.4s);
            }
            .circle02 {
                background: #EB4235;
                opacity: 0.5;
                width: 82px;
                height: 82px;
                position: absolute;
                top: 77px;
                right: 25px;
                @include BorderRadius(50%);
                @include Transition(0.4s);
            }
            .circle03 {
                background:#FBBB04;
                opacity: 0.5;
                width: 68px;
                height: 68px;
                position: absolute;
                bottom: 157px;
                left: 34px;
                @include BorderRadius(50%);
                @include Transition(0.4s);
            }
            .circle04 {
                background: #34AA52;
                opacity: 0.5;
                width: 132px;
                height: 132px;
                position: absolute;
                bottom: 149px;
                right: 8px;
                @include BorderRadius(50%);
                @include Transition(0.4s);
            }

        }
        .ani-block {
            position: absolute;
            max-width: 320px;
            p {
                @include NunitoBold(13px);
                color: #767676;
                padding-top: 5px;
            }
            &.block-01 {
                top: 40px;
                left: 80px;
            }

            &.block-02 {
                top: 40px;
                right: 50px;
            }

            &.block-03 {
                bottom: 125px;
                left: 40px;
            }

            &.block-04 {
                bottom: 125px;
                right: 40px;
            }
        }
    }
}
.app-benefit-section {
    position: relative;
    padding-top: 200px;
    padding-bottom: 150px;
    .btn-register-orange {
        margin-top: 55px;
    }
    .middle-bg {
        background: #1870E8;
        position: absolute;
        top: 250px;
        height: calc(100% - 430px);
        width: 100%;
        left: 0;
    }
    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        background: url(../images/bg-benefit1.png) repeat-x 0 0;
        min-height: 261px;
        width: 100%;
    }

    &:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        background: url(../images/bg-benefit2.png) repeat-x 0 0;
        min-height: 193px;
        width: 100%;
    }

    .white-radius-box {
        padding: 0 40px;
        width: calc(100% - 10px);
        margin: 86px auto 0;
        .rad-img {
            position: relative;
            width: 198px;
            height: 198px;
            top: -99px;
            display: table;
            margin: 0 auto -99px;
            .img {
                position: relative;
                top: 14px;
                display: table;
                margin: 0 auto;
                z-index: 2;
                width: 170px;
                height: 170px;
                overflow: hidden;
                border-radius: 50%;

                .middle {
                    transition: transform .2s;
                    padding-bottom: 100%;

                }
            }
            &:hover {
                .middle {
                    transform: scale(1.1);
                }
            }
            &:before{
                content: "";
                background: #8AB6FB;
                opacity: 0.15;
                position: absolute;
                width: 100%;
                height: 100%;
                @include BorderRadius(50%);
                left: 0;
                top: 0;
            }
            &:after{
                content: "";
                background: #0C53B4;
                position: absolute;
                width: calc(100% - 28px);
                height: calc(100% - 28px);
                -moz-border-radius: 50%;
                -webkit-border-radius: 50%;
                border-radius: 50%;
                -khtml-border-radius: 50%;
                left: 14px;
                top: 14px;
            }
        }
    }
    &.for-save-money {
      padding-bottom: 290px;
      z-index: 1;
      &:after {
        background: #1870e8;
      }
      .short-description {
        @include NunitoRegular(20px, 31px);
        padding-top: 15px;
        text-align: center;
        margin-bottom: 35px;
      }
      .big-title {
        line-height: 1.4;
      }
    }
}

.feeling-home-page {
  margin-top: -130px;
  z-index: 2;
}
.bg-price-learn {
  text-align: center;
}
.price-to-learn {
  .like-box {
    position: absolute;
    background: #08C246;
    font-size: 15px;
    color: #fff;
    text-align: center;
    padding: 8px;
    z-index: 2;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .price-learn-item {
    float: left;
    text-align: center;
    width: calc(50% - 15px);
    margin-right: 15px;
    position: relative;
    margin-bottom: 30px;
    &:before {
      content: '';
      background: #E2E2E2;
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 10px;
      top: 12px;
      left: 0;
      z-index: 1;
    }
    .price-per-monthly {
      position: relative;
      background: #FFFFFF;
      border-radius: 10px;
      min-height: 150px;
      z-index: 1;
      padding-top: 60px;
    }
  }
}
.white-radius-box {
    background: #fff;
    border-radius: 45px;
    .center-title {
        text-align: center;
        padding-top: 10px;
    }
    ul {
        margin-top: 24px;
        padding-bottom: 20px;
        li {
            padding-bottom: 15px;
            b {
                color: #1870E8;
                position: relative;
                padding-bottom: 5px;
                display: block;
                &:before {
                    content: "";
                    width: 7px;
                    height: 7px;
                    background: #1870E8;
                    @include BorderRadius(50%);
                    display: inline-block;
                    position: absolute;
                    top: 10px;
                    left: -10px;
                }
            }
        }
    }
}

.btn-register-orange {
    margin-top: 15px;
    a {
        display: table;
        margin: 0 auto;
        line-height: 68px;
    }
}

.pb-80 {
    padding-bottom: 80px;
}

.app-livestream-block {
    padding-top: 60px;
    .app-image {
        min-height: 420px;
        position: relative;
        .bg-image {
            &.width500 {
                width: 500px;
                height: 360px;
            }
            &.width420 {
                width: 420px;
                height: 420px;
            }
        }
        &.has-margin-right {
            margin-top: -45px;
            right: -60px;
        }

        .middle {
            padding-bottom: 420px;
        }
        img {

        }
    }
}

.blue-radius-box {
    border-radius: 20px;
    background: #1870E8;
    padding: 20px 23px;
    .app-store {
        display: table;
        margin: 5px auto;
    }
    ul {
        li {
            @include NunitoRegular(20px);
            color: #fff;
            background: url(../images/yellow-check.png) no-repeat top left;
            padding-left: 28px;
            padding-bottom: 15px;
        }
    }
}

.pb-40 {
    padding-bottom: 40px;
}

.customer-feeling {
    position: relative;
    padding-top: 170px;
    padding-bottom: 60px;
    &:before {
        content: '';
        background: url(../images/bg-customer.png) no-repeat;
        background-size: 100%;
        width: calc(100% + 420px);
        height: 100%;
        position: absolute;
        top: 0;
        left: -400px;
    }

    &:after {
        content: '';
        background: #FBBB04;
        width: 100%;
        height: 51%;
        bottom: 0;
        left: 0;
        position: absolute;
    }

    .customer-slider {
        .slick-list {
            padding-top: 28px!important;
            padding-left: 0!important;
            padding-right: 0!important;
        }
        .slider-item {
            width: 315px;
            float: left;
            background: #fff;
            @include BorderRadius(18px);
            margin-right: 14px;
            margin-left: 14px;
            padding: 0 15px 35px;
            height: 185px;
            p {
                font-size: 15px;
            }
            .title-name {
                text-align: center;
                padding-top: 12px;
                padding-bottom: 15px;
            }
            .customer-img {
                background: #fff;
                width: 57px;
                height: 57px;
                @include BorderRadius(50%);
                box-shadow: 0 1px 2px rgba(13, 23, 99, 0.6);
                display: table;
                margin: 0 auto -28px;
                top: -28px;
                position: relative;
                .middle {
                    width: 49px;
                    height: 49px;
                    top: 4px;
                    left: 4px;
                    @include BorderRadius(50%);
                }
            }
        }
    }
}

.learn-english-slider {
  .slider-item {
    width: calc(33.333% - 16px);
    margin-left: 8px;
    margin-right: 8px;
    float: left;
  }
}
.register-consult {
    background: url(../images/bg-star-dot-3.png) no-repeat #1870E8;
    background-size: 100%;
    min-height: 539px;
    position: relative;
    padding-top: 45px;
    &:before {
        content: "";
        background: url(../images/bg-star-dot-1.png) no-repeat top center;
        width: 100%;
        height: 279px;
        position: absolute;
        top: 35px;
        left: 0;
    }
    &:after {
        content: "";
        background: url(../images/bg-star-dot-2.png) no-repeat top center;
        width: 100%;
        height: 199px;
        position: absolute;
        bottom: 35px;
        left: 0;
    }

    .app-image {
        .bg-image {
            width: 512px;
            height: 367px;
            left: -30px;
            position: relative;
        }
    }


}

.register-radius-box {
    background: #E8F0FE;
    border-radius: 20px;
    padding: 20px 23px;
    text-align: center;
    position: relative;
    border-bottom: 12px solid #CADAF6;
    form {
        margin-top: 20px;
    }
    input[type="text"], input[type="tel"], input[type="email"] {
        height: 60px;
        width: 100%;
        background: #fff;
        font-size: 13px;
        color: #767676;
        border-radius: 10px;
        padding: 0 23px;
        line-height: 60px;
        border: none;
    }
    .input-field {
        margin-bottom: 10px;
    }
}


.three-button-video {
  margin-top: 140px;
  .three-buttons {
    display: table;
    margin: 0 auto 12px;
    a {
      margin: 0 8px;
    }
  }
  .blue-bg-video {
    background: #1870E8;
    @include BorderRadius(17px);
    padding: 17px;
    display: table;
    margin: 0 auto;
  }
}

.color-block-section {
  @include BorderRadius(20px);
  padding: 40px 28px;
  margin-top: 30px;
  min-height: 496px;
  &.green {
    background: #34AA52;
  }
  &.yellow {
    background: #FFD245;
  }
  .imgbox {
    display: table;
    margin: 0 auto 22px;
  }
  a{
     display: block;
  }
  p {
    padding-top: 15px;
    @include NunitoBold(15px, 20px);
  }
}

.develop-kid-math {
  margin-top: 60px;
  .color-red {
    text-align: center;
  }
  .blue-section-box, .red-section-box {
    margin-top: 20px;
    background: #1870E8;
      @include BorderRadius(20px);
      padding: 40px 28px;
    .img-box {
      width: 338px;
      float: left;
    }
    .blue-two-column {
      padding-top: 30px;
      &:after {
        content:"";
        clear: both;
        display: block;
      }
    }
    .list-yellow-bullets {
      width: calc(100% - 350px);
      margin-left: 12px;
      float: left;
      ul {
        li {
          margin-bottom: 25px;
          color: #fff;
          @include NunitoBold(15px, 18px);
          position: relative;
          padding-left: 20px;
          &:before {
            background: #FFD245;
            width: 10px;
            height: 10px;
            @include BorderRadius(50%);
            position: absolute;
            content: "";
            left: 0;
            top: 2px;
          }
        }
      }
    }
  }

  .red-section-box {
      background: #EB4235;
      .view-video {
        display: table;
        margin: 32px auto 0;

      }
      .col-lg-4 {
        padding-left: 8px;
        padding-right: 8px;
      }
      .white-radius-box {
        @include BorderRadius(20px);
        min-height: 340px;
        margin-top: 35px;
        text-align: center;
        padding: 30px 20px;
        .imgbox {
          min-height: 150px;
        }
        .description {
          text-align: left;
          margin-top: 10px;
        }
      }
  }
  .view-video {
    background: url(../images/btn-yellow-44.png) no-repeat;
    width: 165px;
    height: 44px;
    line-height: 44px;
    color: #fff;
    text-align: center;
    display: inline-block;
    margin-top: 5px;
    &:before {
      content: "";
      background: url(../images/icon-play.png) no-repeat;
      width: 13px;
      height: 15px;
      display: inline-block;
      position: relative;
      top: 1px;
      margin-right: 15px;
    }
  }
}
