.banner-slider {
    &.liveclass {
        min-height: 400px;
        .banner-normal {
            &.for-live-stream {
                .btn-orange {
                    margin-top: 10px;
                }
                .banner-box{
                    left: 0;
                    width: 50%;
                }
                .banner-img {
                    background: url(../images/banber-live-stream-2.png) no-repeat;
                    bottom: -56px;
                    right: 0;
                    left: auto;
                    width: 450px;
                    height: 454px;
                }
            }
            .banner-img {
                background: url(../images/banner-liveclass.png) no-repeat;
                width: 727px;
                position: absolute;
                height: 421px;
                background-size: contain;
                bottom: -65px;
                left: -55px;
            }
            .banner-box  {
                position: absolute;
                right: 0;
                top:  65px;
                z-index: 2;
                .middle-title {
                    padding-top: 10px;
                    padding-bottom: 25px;
                }
            }
        }
    }
}

.app-livestream-section {
    padding-top: 60px;
    .title-section {
        padding-bottom: 35px;
    }
    .bg-image {
        img {
            width: 100%;
        }
    }
    .text-box-block {
        padding-top: 70px;
        p {
            padding-bottom: 30px;
        }
    }
}

.app-benefit-section {
    &.for-livestream {
        .btn-register-orange {
            margin-top: 40px
        }
        &:before {
            min-height: 1450px;
            background-size: contain;
        }
    }
    .title-section{
        padding-bottom: 40px;
    }
}

.liveclass-middle-img {
    .bg-img {
        margin-left: -15px;
        margin-right: -10px;
        img {
            width: 100%;
        }
    }
}

.list-item-yellow-bullets {
    ul {
        li {
            margin-bottom: 38px;
            b {
                position: relative;
                padding-bottom: 5px;
                display: block;
                &:before {
                    content: "";
                    width: 6px;
                    height: 6px;
                    background: #FFD245;
                    -moz-border-radius: 50%;
                    -webkit-border-radius: 50%;
                    border-radius: 50%;
                    -khtml-border-radius: 50%;
                    display: inline-block;
                    position: absolute;
                    top: 10px;
                    left: -10px;
                }
            }
        }
    }
}

.livestream-video {
    position: relative;
    padding-top: 95px;
    .circle-bg {
        background: #0C53B4;
        width: 234px;
        height: 234px;
        position: absolute;
        @include BorderRadius(50%);
        &.circle-1 {
            top: -107px;
            left: -107px;
        }
        &.circle-2 {
            top: -46px;
            right: -46px;
            width: 92px;
            height: 92px;
        }
        &.circle-3 {
            bottom: -76px;
            left: -76px;
            width: 152px;
            height: 152px;
        }
        &.circle-4 {
            bottom: 30px;
            right: -105px;
            width: 174px;
            height: 174px;
        }
    }
    .video-content{
        background: #0c53b4;
        width: 760px;
        margin: 0 auto;
        border-radius: 17px;
        padding: 15px;
        position: relative;
        .video-js {
            width: 100%;
        }
    }
    .video-js {
        .vjs-big-play-button  {
            background: url(../images/play-video.png) no-repeat;
            display: block;
            width: 75px;
            height: 75px;
            border: none;
            border-radius: 0;
            top: 50%;
            left: 50%;
            margin-top: -37px;
            margin-left: -37px;
            .vjs-icon-placeholder {
                &:before {
                    display: none;
                }
            }
        }
        &.vjs-playing .vjs-big-play-button {
            display: none;
        }
    }
}


.app-schedule-block {
    margin-bottom: 50px;
}

.blue-schedule-block {
    position: relative;
    border-radius: 14px;
    overflow: hidden;
    background: #8AB6FB;
    border-bottom: 16px solid #639DF8;
    .schedule-header {
        &:after {
            clear: both;
            content: '';
            display: block;
        }
        .col-item {
            float: left;
            width: 20%;
            color: #fff;
            padding-left: 25px;
            padding-top: 22px;
            padding-bottom: 14px;
        }
    }
    .hasScrollingBar {
        height: 550px;
        width: calc(100% - 10px);
    }
    .shdule-toggle-block {
        padding-left: 17px;
        padding-right: 17px;
        .toggle-header {
            background: #34AA52;
            padding: 15px 15px 15px 25px;
            color: #fff;
            position: relative;
            .arrow-toggle {
                background: #267D3C;
                width: 34px;
                height: 34px;
                @include BorderRadius(50%);
                position: absolute;
                right: 15px;
                top: 7px;
                &:before {
                    content: '';
                    background: url(../images/arrow-down.png) no-repeat center;
                    width: 34px;
                    height: 34px;
                    position: absolute;
                }
                &.opened {
                    &:before {
                        background: url(../images/arrow-up.png) no-repeat center;
                    }

                }
            }
            &.blue {
                background: #1870E8;
                .arrow-toggle {
                    background: #0C53B4;
                }
            }
            &.yellow {
                background: #FBBB04;
                .arrow-toggle {
                    background: #D49F08;
                }
            }
            &.orange {
                background: #FB8804;
                .arrow-toggle {
                    background: #C66C05;
                }
            }
            &.red {
                background: #EB4235;
                .arrow-toggle {
                    background: #C82E22;
                }
            }
        }
        .toggle-item {
            height: 0;
            overflow: hidden;
            &.opened {
                display: block;
                height: auto;
            }
        }
        .toggle-table {
            display: flex;
            background: #fff;

            .col-item {
                width: 20%;
                border: 1px solid #8ab6fb;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
                color: #000000;
                .btn-register {
                    height: 18px;
                    width: 52px;
                    font-size: 10px;
                    font-weight: 700;
                    border-width: 2px;
                    line-height: 18px;
                }
                &.c02, &.c04 {
                    display: flex;
                    flex-direction: column;
                    .item-row {
                        border-bottom: 1px solid #8ab6fb;
                        width: 100%;
                        height: 75px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        &:last-child {
                            border-bottom: none;
                        }
                    }
                }
                &.c03 {
                    width: 40%;
                    flex-direction: column;
                    align-items: flex-start;
                    .item-row {
                        text-align: left;
                        border-bottom: 1px solid #8ab6fb;
                        height: 75px;
                        display: flex;
                        justify-content: center;
                        align-items: start;
                        padding-left: 40px;
                        flex-direction: column;
                        width: 100%;
                        &:last-child {
                            border-bottom: none;
                        }
                    }
                    .day-week {
                        span {
                            display: inline-block;
                        }
                    }
                    .datetime {
                        width: calc(100% - 20px);
                        color: #767676;
                    }
                }
            }
        }
    }
}

.btn-register {
    background: #FBBB04;
    border-bottom: 5px solid #DBA304;
    border-radius: 34px;
    height: 44px;
    @include NunitoBold(13px, 44px);
    color: #fff;
    text-align: center;
    width: 125px;
    &.gray {
        border-color: #707070;
        background: #B2B2B2;
    }
}

.register-consult {
    &.monthly {
        padding-bottom: 60px;
        &:before {
            top: 145px;
        }
        .title-section {
            padding-bottom: 38px;
        }
    }
}

.register-monthly {
    margin-top:40px;
    .m-box {
        background: #fff;
        border-radius: 35px;
        position: relative;
        overflow: hidden;
        width: 413px;
        border-bottom: 20px solid #0C53B4;
        .register-time {
            padding: 18px 38px;
            &.green{
                background: #34AA52;
            }
            &.yellow {
                background: #FBBB04;
            }
        }
        .price {
            padding: 18px 38px;
        }
        .sale-off {
            position: absolute;
            background: #e60019;
            @include BorderRadius(50%);
            width: 117px;
            height: 117px;
            top: 18px;
            right: 13px;
            text-align: center;
            padding-top: 29px;
        }
    }
}

.class-schedules {
    padding-top: 45px;
}
.class-lists {
    margin-bottom: 25px;
    .class-item {
        @include BorderRadius(10px);
        border: 1px solid #eee;
        border-bottom: 8px solid #EEEEEE;
        position: relative;
        overflow: hidden;
        margin-bottom: 25px;
        .class-image {
            .middle {
                height: 180px;
                padding-bottom: 180px;
            }

        }
        .class-information {
            padding: 8px 14px;
            .class-title {
                color: #333333;
                min-height: 50px;
            }
            .teacher-name {
                background: url(../images/teacher.png) no-repeat left center;
                padding-left: 25px;
                margin-bottom: 8px;
                margin-top: 3px;
                color: #767676;
            }
            .date-time {
                background: url(../images/schedule.png) no-repeat left center;
                padding-left: 25px;
                color: #1A71E8;
            }
        }
    }
}

.border-title-section {
    margin-bottom: 18px;
    .title-section {
        position: relative;
        padding-bottom: 2px;
        display: inline-block;
        &:after {
            position: absolute;
            bottom: -5px;
            left: 0;
            width: 100%;
            content: '';
            background: #077CFF;
            height: 5px;
            @include BorderRadius(3px);
        }
    }

}

.incomming-icon {
    background: url(../images/coming-soon.png) no-repeat;
    width: 49px;
    height: 43px;
    display: inline-block;
    position: relative;
    margin-left: 5px;
    top: 10px;
}


.livestream-main-content {
    .class-schedules {
        padding-top: 0;
    }
}

.single-live-stream {
    .custom-col-left {
        flex: 0 0 auto;
        width: calc(100% - 325px);
    }
    .custom-col-right {
        flex: 0 0 auto;
        width: 325px;
    }
    .post-detail {
        .post-date {
            background: #F2F2F2;
            @include BorderRadius(3px);
            padding: 10px;
            margin-top: 18px;
            margin-bottom: 25px;
            span {
                font-size: 13px;
                color: #5D5D5D;
                .fa {
                    font-size: 14px;
                    color: #5D5D5D;
                    margin-right: 5px;
                }
            }
        }
        .sub-title {
            padding-bottom: 15px;
        }
        p {
            padding-bottom: 15px;
            font-size: 16px;
        }
        .video-post {
            margin-bottom: 15px;
            iframe {
                width: 100%;
            }
        }
    }
    .share-box {
        border-top: 1px solid #E2E2E2;
        padding-top: 15px;
        margin-top: 22px;
        margin-bottom: 15px;
        span.share-icon {
            background: url(../images/share-icon.png) left center no-repeat;
            padding-left: 21px;
            font-size: 13px;
            font-weight: 700;
            line-height: 20px;
            margin-top: 4px;
            margin-right: 16px;
            float: left;
        }
    }

    .keywords {
        span.hastags {
            background: url(../images/tags.png) left center no-repeat;
            padding-left: 24px;
            font-size: 13px;
            font-weight: 700;
            line-height: 20px;
            margin-top: 0;
            margin-right: 6px;
            float: left;
        }
        a {
            background: #F2F2F2;
            border-radius: 11px;
            padding: 5px 12px;
            color: #414141;
            font-size: 13px;
            margin-right: 3px;
            &:hover {
                color: $colorRed;
            }
        }
    }

    .install-app-section {
        background: #1870E8;
        @include BorderRadius(20px);
        padding: 30px 30px 0 15px;
        &:after {
            content: '';
            clear: both;
            display: block;
        }
        .img-box {
            float: right;
            width: 235px;
            .middle {
                height: 211px;
            }
        }
        .app-information {
            float: right;
            width: calc(100% - 260px);
            margin-left: 25px;
            p {
                font-size: 14px;
                padding-top: 5px;
                color: #fff;
            }
            .app-store {
                a {
                    margin-left: 0;
                    margin-right: 10px;
                }
            }
        }
    }
}

.blog-main-content {
    .blog-top {
        .featured-blog {
            .blog-title {
                padding-top: 25px;
            }
        }
        .blog-item {
            margin-bottom: 15px;
            .middle {
                img {
                    width: 110%;
                }
            }
            .blog-title {
                padding-top: 3px;
            }
        }
    }
}

.blog-category {
    margin-top: 40px;
    .blog-category-list {
        padding-top: 10px;
    }
    a.read-more {
        background: url(../images/arrow-read-more.png) no-repeat right center;
        padding-right: 17px;
        position: relative;
        top: 5px;
    }
    .class-item {
        margin-bottom: 25px;
        .class-image {
            position: relative;
            overflow: hidden;
            @include BorderRadius(10px);
        }
    }
}

.category-news-list {
    .new-item {
        border-bottom: 1px dotted #E2E2E2;
        margin-bottom: 20px;
        padding-bottom: 20px;
        &:last-child {
            border-bottom: none;
        }
        &:after {
            content: '';
            clear: both;
            display: block;
        }
        .new-img {
            width: 200px;
            float: left;
            position: relative;
            overflow: hidden;
            @include BorderRadius(5px);
            margin-right: 18px;
        }
    }
}

.sidebar-news {
    background: #E8F0FE;
    @include BorderRadius(5px);
    padding: 17px 15px;
    margin-bottom: 20px;
    .new-item {
        border-bottom: 1px solid #FFFFFF;
        margin-bottom: 12px;
        padding-bottom: 12px;
        &:last-child {
            border-bottom: none;
            padding-bottom: 0;
            margin-bottom: 0;
        }
        &:after {
            content: '';
            clear: both;
            display: block;
        }
        .new-img {
            width: 105px;
            float: left;
            position: relative;
            overflow: hidden;
            @include BorderRadius(5px);
            margin-right: 10px;
        }
    }
}
