$defaultFont: normal 14px/1.4 'Nunito', sans-serif;

@mixin NunitoLight( $value, $lineheight:1.1 ) {
	font-family: 'Nunito', sans-serif;
	font-size: $value;
	line-height: $lineheight;
	font-weight: 300;
}

@mixin NunitoRegular( $value, $lineheight:1.1 ) {
	font-family: 'Nunito', sans-serif;
	font-size: $value;
	line-height: $lineheight;
	font-weight: 400;
}


@mixin NunitoBold( $value, $lineheight:1.1 ) {
	font-family: 'Nunito', sans-serif;
	font-size: $value;
	line-height: $lineheight;
	font-weight: 700;
}

@mixin NunitoRegular( $value, $lineheight:1.1 ) {
	font-family: 'Nunito', sans-serif;
	font-size: $value;
	line-height: $lineheight;
	font-weight: 400;
}

@mixin NunitoSemiBold( $value, $lineheight:1.1 ) {
	font-family: 'Nunito', sans-serif;
	font-size: $value;
	line-height: $lineheight;
	font-weight: 600;
}


@mixin Transition($second, $optional: ease) {
	-webkit-transition: all $second $optional;
    -moz-transition: all $second $optional;
    -o-transition: all $second $optional;
    transition: all $second $optional;
}

/*COLOR*/
$colorWhite: #fff;
$colorBlack:#000;
$colorRed: #EB4235;
$colorBlue: #1870E8;
$colorD9: #d9d9d9;
$colorGray: #e2e2e2;
$colorYellow: #FFD245;

.color-blue {
	color: $colorBlue!important;
}
.color-red{
	color: $colorRed!important;
}
.color-white {
	color: $colorWhite!important;
}
.color-yellow {
	color: $colorYellow!important;
}
.color-green {
	color: #34AA52!important;
}

@mixin BorderRadius($rd) {
	-moz-border-radius: $rd;
	-webkit-border-radius: $rd;
	border-radius: $rd; /* future proofing */
	-khtml-border-radius: $rd; /* for old Konqueror browsers */
}

@mixin objAbsoluteMiddle() {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%); /* IE 9 */
	-webkit-transform: translate(-50%, -50%); /* Safari */
}

@mixin clearObjAbsoluteMiddle() {
	position: relative;
	top: auto;
	left: auto;
	transform: translate(0, 0);
	-ms-transform: translate(0, 0); /* IE 9 */
	-webkit-transform: translate(0, 0); /* Safari */
}

@mixin placeholdercolor($color) {
  &::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: $color;
  }

  &:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: $color;
    opacity: 1;
  }

  &::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: $color;
    opacity: 1;
  }

  &:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: $color;
  }

  &::-ms-input-placeholder {
    /* Microsoft Edge */
    color: $color;
  }

  &::placeholder {
    /* Most modern browsers support this now. */
    color: $color;
  }
}
