@media screen and (min-width: 993px) and (max-width: 1024px) {
  .container {
    max-width: 1024px!important;
  }

  header {
    .header-middle {
      .navigation {
        .navigation-right {
          width: calc(100% - 270px);
          overflow-x: scroll;
          overflow-y: hidden;
          white-space:nowrap
        }
        ul.sf-menu {
          width: 990px;
        }
      }
      .container {
        max-width: 1024px!important;
      }
      a.for-logo {

      }
    }
  }
  .submenu {
    .sf-menu-right {
      .sf-menu-col {
        width: calc(25% - 15px);
        margin-right: 15px;
        .news-thumbnail.h100 {
          .middle {
            img {
              width: auto;
            }
          }
        }
      }
    }
  }

  .long-form-news-item {
    .news-thumbnail.h580 {
      .middle {
        padding-bottom: 480px;
      }
    }
  }
}

@media screen and (min-width: 1024px) and (max-width: 1273px) {
    header {
      .header-middle {
        .navigation {
          .navigation-right {
            width: calc(100% - 270px);
            overflow-x: scroll;
            overflow-y: hidden;
            white-space:nowrap
          }
          ul.sf-menu {
            width: 990px;
          }
        }
        .container {
          max-width: 100%!important;
        }
        a.for-logo {

        }
      }
    }
    .submenu {
      .sf-menu-right {
        .sf-menu-col {
          width: calc(25% - 15px);
          margin-right: 15px;
          .news-thumbnail.h100 {
            .middle {
              img {
                width: auto;
              }
            }
          }
        }
      }
    }
  .long-form-news-item {
    .news-thumbnail.h580 {
      .middle {
        padding-bottom: 480px;
      }
    }
  }
}
